@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap");
@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");

/* shared & universal styles */

:root {
    --msd-black: rgb(0, 0, 0);
    --msd-white: rgb(255, 255, 255);
    --msd-gray-1: rgb(71, 71, 71);
    --msd-gray-2: rgb(94, 94, 94);
    --msd-gray-2-20: rgb(94, 94, 94, 0.2);
    --msd-gray-3: rgb(144, 144, 144);
    --msd-gray-3-20: rgb(144, 144, 144, 0.2);
    --msd-gray-4: rgb(196, 196, 196);
    --msd-pink-1: rgb(167, 129, 129);
    --msd-pink-2: rgb(242, 188, 189);
    --msd-pink-2-30: rgb(242, 188, 189, 0.3);
    --msd-pink-3: rgba(248, 221, 221);
    --msd-pink-3-30: rgba(248, 221, 221, 0.3);
    --msd-pink-3-15: rgba(248, 221, 221, 0.15);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
body {
    margin: 0;
    padding: 0;
    font-weight: 100;
}

h1 {
    font-family: Noto Serif JP;
    font-size: 140px;
}

h2 {
    font-family: Karla;
    font-size: 30px;
}

h3 {
    font-family: Karla;
    font-size: 25px;
}

h4 {
    font-family: Noto Serif JP;
    font-size: 23px;
    font-weight: bold;
}

h5 {
    font-family: Karla;
    font-size: 20px;
}

h6 {
    font-family: Karla;
    font-size: 17px;
}

body {
    background: var(--msd-pink-1) url('./assets/pink\ fractal.png') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

.main-bg-screen {
    background-color: var(--msd-gray-3);
    opacity: 0.25;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    height: 100vh;
    width: 100vw;
    position: fixed;
    backdrop-filter: blur(1px);
    z-index: -1;
}

@media only screen and (max-width: 640px) {
    h1 {
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    body {
        background-position: center;
    }
}

p {
    font-family: Karla;
    font-size: 18px;
    line-height: 23px;
}

a {
    text-decoration: none;
    color: var(--msd-black);
}

.link:hover {
    background-color: var(--msd-gray-2-20);
    border-radius: 5px;
    text-decoration: underline;
}

ul {
    list-style-type: circle;
    padding: 0;
}

.icon {
    width: 45px;
    height: auto;
}

.icon.small {
    width: 30px;
    height: auto;
    transition: margin 300ms ease-in-out;
}

.icon:hover {
    margin-bottom: 0.5rem;
}

.card {
    background-color: var(--msd-pink-3-30);
    padding: 2rem;
    border-radius: 1.5rem;
    width: 400px;
    min-height: min-content;
    box-shadow: 1px 0px 2px 1px var(--msd-gray-3-20);
    backdrop-filter: blur(2px);
    animation-iteration-count: 1;
    animation: frost 500ms ease-in-out;
    background-image: url('./assets/noise.png');
}

@keyframes frost {
    0% {
        background-position-y: left;
        background-position-x: center;
        transform: rotate(1deg);
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(1deg);
    }
    100% {
        background-position-y: center;
        background-position-x: left;
        transform: rotate(0deg);
    }
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 5vw;
    padding-bottom: 3rem;
}

.card-container .card {
    margin: 2rem 1.5rem;
}

.highlight {
    background-color: var(--msd-pink-2);
    border-radius: 5px;
    padding: 0.25rem;
    width: fit-content;
    margin-left: -0.25rem;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subtext {
    color: var(--msd-gray-1);
    font-size: 15px;
}

.page {
    margin: 0 10vw;
}

@media only screen and (max-width: 640px) {
    h1 {
        letter-spacing: 0px;
    }
    .page {
        flex-direction: column;
        margin: 0 3vw;
    }
    .card {
        padding: 1.5rem;
        width: unset;
        border-radius: 1rem;
    }
    .card-container {
        margin: 0;
    }
    .card-container .card {
        margin: 0 0 1.5rem 0;
    }
}


/* nav, footer */

nav {
    display: flex;
    padding: 3rem 3rem;
    margin: 0 10vw 0 0;
    align-items: center;
    width: calc(100vw - 6rem);
}

nav.nav-projects {
    justify-content: space-between;
}

.logo-nav {
    display: flex;
}

.nav-sticky::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    z-index: -1;
}

.nav-sticky {
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid var(--msd-gray-3-20);
    transition: all 300ms cubic-bezier(0.2, 0, 1, 1), border-bottom 0ms;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35rem;
    list-style-type: none;
    z-index: 1;
}

.logo {
    height: 3rem;
    cursor: pointer;
    padding-right: 3rem;
}

.nav-link.active,
.nav-link:hover {
    background-color: var(--msd-gray-2-20);
}

.nav-link {
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    margin: 0 0.75rem;
    border-radius: 10px;
}

.footer {
    padding: 3rem;
    display: flex;
    justify-content: center;
}

.footer-text {
    color: var(--msd-gray-1);
}


/* projects toggle */

.dev-art {
    display: flex;
    width: 6rem;
    justify-content: space-between;
    align-items: center;
    background: var(--msd-pink-3-30);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.toggle-knob {
    width: 2rem;
    background: var(--msd-pink-3);
    border-radius: 2rem;
    padding: 1rem;
    cursor: pointer;
    position: absolute;
    z-index: -1;
    margin-left: -0.75rem;
    transition: width 1200ms ease-in;
    transition: margin 800ms ease-in-out;
}

.toggle-knob.after {
    width: 1.5rem;
    margin-left: 3.25rem;
}

.dev-art div,
.dev-art label {
    cursor: pointer;
}

@media only screen and (max-width: 640px) {
    nav {
        flex-direction: column;
        padding: 0 0 2rem 0;
        margin: 0;
        width: 100vw;
    }
    .logo-nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.5rem;
    }
    .logo {
        padding: 1.5rem 0;
    }
    .main-nav {
        width: calc(100vw - 20vw);
    }
    .nav-link {
        margin: 0;
        padding: 0 0.25rem;
        border-radius: 5px;
    }
    .footer {
        padding: 2.5rem 0 1rem 0;
    }
    .footer-text {
        font-size: 14px;
    }
    .dev-art {
        align-self: flex-end;
        margin-right: 1.5rem;
        padding: 0.5rem 1rem;
        width: 5rem;
    }
    .toggle-knob {
        width: 1.5rem;
        padding: 0.875rem;
    }
    .toggle-knob.after {
        width: 1rem;
        margin-left: 3rem;
    }
}


/* home */

.home {
    display: flex;
    flex-wrap: wrap;
    max-height: 100vh;
}

.home-header {
    max-width: 1rem;
}

.home-headers {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 70vh;
    width: 50vw;
}

.me-pic-home {
    width: 400px;
    margin-left: -5rem;
    border-radius: 2rem;
    border: 1rem solid var(--msd-pink-2-30);
}

@media only screen and (max-width: 640px) {
    .home {
        flex-direction: column;
    }
    .home-headers {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 1rem;
        height: unset;
        width: unset;
    }
    .home-subheader {
        padding-bottom: 2.5rem;
    }
    .home-header {
        padding-bottom: 1rem;
    }
    .home-pic-container {
        display: flex;
        justify-content: center;
    }
    .me-pic-home {
        width: calc(90vw - 1rem);
        border: 0.5rem solid var(--msd-pink-2-30);
        border-radius: 1rem;
        margin-left: 0;
    }
}


/* about */

.about {
    display: flex;
    justify-content: space-evenly;
}

.bio-text {
    padding-bottom: 0.5rem;
}

.hiya {
    font-weight: bold;
}

.cards-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-header {
    margin-top: 1.75rem;
    margin-bottom: 0.25rem;
    font-weight: bold;
}

.card-subheader {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

.me-pic-about {
    width: 400px;
    height: auto;
    border-radius: 2rem;
    border: 1rem solid var(--msd-pink-2-30);
}

.about-right {
    display: flex;
    flex-direction: column;
}

.about-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    height: 4rem;
}

.about-icons img {
    padding: 1rem;
}

@media only screen and (max-width: 640px) {
    .me-pic-about {
        width: 100%;
        width: -moz-available;
        width: -webkit-fill-available;
        width: fill-available;
        margin: 1.5rem 0;
        border: 0.5rem solid var(--msd-pink-2-30);
        border-radius: 1rem;
    }
}


/* work */

.work {
    display: flex;
}

.card-work {
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

.work-timeline {
    align-self: flex-end;
    padding-bottom: 0.5rem;
    color: var(--msd-gray-1);
}

.work-title {
    font-weight: bold;
}

.work-employer {
    padding: 0.5rem 0;
}

.work-body {
    color: var(--msd-gray-1);
    padding-top: 1rem;
}


/* projects */

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-projects:last-child {
    margin-bottom: 5rem;
}

.proj-img {
    max-width: 600px;
    max-height: 500px;
    border-radius: 2rem;
    border: 1rem solid var(--msd-pink-2-30);
}

.jou {
    margin-right: 15%;
}

.text-pic {
    display: flex;
    justify-content: space-between;
}

.project-col {
    display: flex;
    flex-direction: column;
}

.card-projects {
    min-width: 70vw;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 640px) {
    .text-pic {
        flex-direction: column;
    }
    .proj-img {
        max-width: 100%;
        max-height: fit-content;
        border: 0.5rem solid var(--msd-pink-2-30);
        border-radius: 1rem;
        margin-top: 1rem;
        align-self: center;
    }
    .card-projects {
        width: unset;
    }
    .jou {
        margin-right: unset;
    }
}

.card-footer {
    font-size: 13px;
    color: var(--msd-gray-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.card-footer-right {
    height: 2rem;
    display: flex;
    align-items: flex-end;
}

.card-footer-right a {
    padding: 0 0.5rem;
}

.icon.small.external-link-icon {
    height: 22px;
}

.icon.small.figma-icon {
    height: 22px;
}

.project-title {
    font-weight: bold;
}

.tools-container {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    padding-left: 0.5rem;
}

.tool {
    box-shadow: 1px 1px 1px var(--msd-pink-3-30);
    background-color: var(--msd-pink-3-15);
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0.125rem;
}

.tool-text {
    font-size: 15px;
    color: var(--msd-gray-1);
}

.project-subtitle {
    padding: 1.5rem 0;
}

.project-caption {
    color: var(--msd-gray-1);
}


/* art */

.art-img {
    width: 400px;
    padding-bottom: 1rem;
}

.art-caption {
    padding: 1rem 0;
}

.art-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 640px) {
    .art-img {
        max-width: 100%;
        max-height: fit-content;
        align-self: center;
        padding-bottom: 1.5rem;
    }
}